# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
engine

# CMake
CMakeFiles
CMakeCache.txt
.DS_Store
*.cmake
*.log
imgui.ini

# Vim
*.swp

# Build
build/*
!build/.gitkeep

# Screenshots
GEFS/Screenshots/*